.sidebar {
  position: relative;
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* this pushes logout to bottom */
  padding: 20px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;
  transition: transform 0.3s ease;
}

.sidebar-content {
  flex-grow: 1;
  /* This takes up all remaining space */
}

.sidebar-title {
  margin-bottom: 20px;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  padding: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 10px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.sidebar-nav li:hover {
  background-color: #2c2c2c;
  color: #4caf50;
}

.sidebar-button:hover {
  background-color: #4caf50;
  /* green hover */
  color: #4caf50;
}

.logout-button {
  width: 100%;
  padding: 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-self: stretch;
}

.logout-button:hover {
  background-color: #c9302c;
}

/* Collapsed state styles */
.sidebar.collapsed {
  transform: translateX(-100%);
}

/* Collapse toggle button */
.collapse-toggle {
  position: absolute;
  top: 0px;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #1f1f1f;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 20px;
  align-self: flex-start;
  transition: transform 0.3s ease;
}

.sidebar.collapsed .collapse-toggle {
  transform: translateX(100%);
}
